@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
    --smallFont: 'Manrope', sans-serif;
    --largeFont: 'Staatliches', cursive;
    --red: #EF2F3C;
    --white: #F6F4F3;
    --green: #10B981;
    --background: #93C5FD;
    --yellow: #F0A202;
    --font: 'Lato', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--smallFont);
}

body {
    line-height: 1.6;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 0 1.2rem;
}

.container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    /* background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg); */
}

.content {
    z-index: 1;
    /* color: #fff; */
    margin: 3rem 0;
}

.content h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: var(--largeFont);
    letter-spacing: 4px;
    word-spacing: 5px;
    position: relative;
    padding-bottom: 0.8rem;
}

.time-show {
    margin: 3.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-one {
    background-color: var(--red);
    border-radius: 1rem;
    
}

.box-two {
    background-color: var(--white);
    border-radius: 1rem;
    
}

.box-three {
    background-color: var(--green);
    border-radius: 1rem;
    
}

.box-four {
    background-color: var(--yellow);
    border-radius: 1rem;
    
}

.time-show div {
    /* background: #fff; */
    margin: 0.5rem;
    width: 150px;
    height: 140px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time-show div p {
    /* color: #B11809; */
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 600;
    font-weight: bolder;
}

.time-show {
    flex-direction: row;
    flex-wrap: wrap;
}

